<mat-card class ="task-input-form-card flex-container">Add Task to Gantt Chart

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Task Name">
  </mat-form-field>
  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose an end date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
</div>
</mat-card>
