<div class="grid-container">
  <h1 class="purple mat-h1">About Team Scrummy Bears</h1>


  <mat-grid-list cols="2" rowHeight="2:1" >
      <mat-grid-tile class="reversepurple">
        <div >
          Catherine Dinsmoor<br>
          Application Developer<br>
          Team: Advantage<br>

        </div>


      </mat-grid-tile>
      <mat-grid-tile class="reversepurple">
          <div >
              Evan Bradley <br>
              Software Engineer<br>
              Team: DFS - NDA<br>
    
            </div>

      </mat-grid-tile>
      <mat-grid-tile class="reversepurple">
          <div >
              Akansha Agarwal<br>
              Software Engineer<br>
              Team: Advantage<br>
    
            </div>

      </mat-grid-tile>
      <mat-grid-tile  class="reversepurple">
          <div>
              Jason Medcoff<br>
              Software Engineer<br>
              Team: Advantage<br>
            </div>

      </mat-grid-tile>
    </mat-grid-list>
    
</div>